* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #20244f;
  overflow-x: hidden;
}

body.overlay {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

p {
  color: rgba(32, 36, 79, 0.7);
  line-height: 160%;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 140%;
}

.section {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}

.section-title {
  font-size: 55px;
  line-height: 140%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

.section-text {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 767px) {
  .section-text {
    font-weight: normal;
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.bg-light-blue {
  background: #EFF2FF !important;
}

.main-btn {
  background: #4263f6;
  border-radius: 7.2px;
  color: #fff;
  transition: 0.2s;
  border: 0;
}

.main-btn:hover {
  background: #0b34e9;
  color: #fff;
}

.main-btn:active {
  background: #8399f9;
  color: #fff;
}

header.homepage-header {
  background: #4263f6;
  overflow: hidden;
}
@media (min-width: 1800px) {
  header.homepage-header {
    height: 100vh;
  }
}
@media (min-width: 2000px) {
  header.homepage-header {
    height: 1100px;
  }
}

header.aboutus-header {
  height: auto;
}

header.header-white .navbar {
  border-bottom: 1px solid rgba(66, 99, 246, 0.19);
}
header.header-white button:hover {
  color: #20244f;
}
header.header-white .menu-toggle {
  color: rgba(32, 36, 79, 0.8);
}
header.header-white .nav-link {
  color: #20244f;
  opacity: 0.8;
  transition: 0.2s;
}
header.header-white .nav-link:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  header.header-white {
    height: 65px;
  }
  header.header-white .navbar-nav .signup-link,
header.header-white .navbar-nav .login-link {
    border: 1px solid #1a3bcc;
    color: #1a3bcc;
    opacity: 1;
  }
  header.header-white .navbar-nav .signup-link {
    background-color: #1a3bcc;
    color: #fff !important;
  }
}
header.header-white .navbar-nav .nav-link.active,
header.header-white .navbar-nav .show > .nav-link,
header.header-white .nav-link:focus,
header.header-white .nav-link:hover {
  color: #4263f6;
}
header.header-white .nav-link:not(.dropdown-toggle)::after {
  background-color: #4263f6;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 20px;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
    margin: 0 0 10px 0;
  }
}

.nav-link {
  color: #fff;
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}
@media (min-width: 1000px) {
  .nav-link:not(.dropdown-toggle)::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    border-radius: 2.5px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
}

.nav-link:not(.dropdown-toggle):hover::after,
.nav-link:not(.dropdown-toggle).active::after {
  width: 100%;
}

.navbar-expand-lg {
  padding: 17px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  position: relative;
  z-index: 2;
  background: #4263f6;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(119.604px);
            backdrop-filter: blur(119.604px);
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

header.header-blue .navbar-expand-lg {
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  position: relative;
  z-index: 2;
  background: #4263f6;
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

@media (min-width: 1000px) {
  .nav-item.dropdown {
    padding-left: 20px;
    position: relative;
  }
  .nav-item.dropdown::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #caccdf;
    opacity: 0.33;
  }
}

.dropdown-item {
  color: #120f33;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .dropdown-item {
    font-size: 13px;
  }
}
.dropdown-item span:last-child {
  margin-left: 10px;
  transition: all 0.2s ease;
}
.dropdown-item:hover span:last-child {
  color: #4263f6;
}

span.country-flag {
  width: 21px;
  height: 21px;
  display: inline-block;
  background-image: url("../imgs/homepage/header-flags.png");
}
span.country-flag.bg-fr {
  background-position: -10px -10px;
}
span.country-flag.bg-sp {
  background-position: -51px -10px;
}
span.country-flag.bg-uk {
  background-position: -10px -51px;
}
span.country-flag.bg-gr {
  background-position: -51px -51px;
}

.dropdown:hover .dropdown--menu {
  opacity: 1;
  transform: none;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0s;
  visibility: visible;
}

.dropdown--menu {
  padding: 0.5rem 0;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 110%;
  min-width: 140px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0.2s;
  left: -40px;
  transform: translateY(-5px) scale(0.95);
}
.dropdown--menu::before {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  top: -8px;
  left: 60px;
  content: "";
  position: absolute;
}

.dropdown-menu {
  min-width: 5rem;
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 30px 0 0;
  }
  .navbar-nav .signup-link,
.navbar-nav .login-link {
    opacity: 1;
    text-align: center;
    border-radius: 63px;
    border: 1px solid #fff;
  }
  .navbar-nav .about-us-link {
    border-bottom: 1px solid #6e83ff;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .navbar-nav .signup-link {
    background-color: #fff;
    color: #1a3bcc;
  }
}

.menu-toggle {
  position: relative;
  display: block;
  width: 28px;
  height: 18px;
  background: transparent;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: #d9d9d9;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
}

button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 991px) {
  .navbar-collapse {
    order: 3;
  }
}

.coinsurf-signup {
  height: calc(100vh - 70px);
}
@media (max-width: 767px) {
  .coinsurf-signup {
    height: auto;
  }
}
@media (max-height: 550px) {
  .coinsurf-signup {
    min-height: 500px;
  }
}
@media (max-height: 600px) and (min-width: 992px) {
  .coinsurf-signup {
    min-height: 630px;
  }
}
.coinsurf-signup .coinsurf-signup-content {
  height: 100%;
  display: flex;
}
.coinsurf-signup .coinsurf-signup-content > div {
  width: 50%;
}
.coinsurf-signup .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .left-side {
    padding: 24px;
  }
}
.coinsurf-signup .left-side h3 {
  font-size: 36px;
  color: #20244f;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .left-side h3 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .left-side h3 {
    font-size: 24px;
  }
}
.coinsurf-signup .left-side p {
  font-weight: 400;
  font-size: 16px;
  color: #5b5863;
  margin: 15px 0 35px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .left-side p {
    font-size: 15px;
    margin: 15px 0 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .left-side p {
    font-size: 14px;
    margin: 15px 0 24px;
  }
}
.coinsurf-signup .left-side a {
  padding: 10px 20px;
  display: inline-block;
}
.coinsurf-signup .left-side a:hover {
  color: #fff;
}
.coinsurf-signup .right-side {
  background-image: linear-gradient(180deg, #284df3 0%, #718bff 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  position: relative;
  z-index: 1;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .right-side {
    padding: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .right-side {
    padding: 24px;
  }
}
.coinsurf-signup .right-side img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.coinsurf-signup .right-side h1 {
  font-size: 45px;
  color: #ffffff;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .coinsurf-signup .right-side h1 {
    font-size: 38px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .right-side h1 {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .right-side h1 {
    font-size: 24px;
  }
}
.coinsurf-signup .right-side h1 span {
  color: #fecc15;
}
.coinsurf-signup .right-side .desc {
  font-size: 25px;
  color: #ffffff;
  max-width: 610px;
  margin: 0 auto;
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .coinsurf-signup .right-side .desc {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .right-side .desc {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .right-side .desc {
    font-size: 17px;
  }
}
.coinsurf-signup .right-side .text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffff;
  position: absolute;
  bottom: 8%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .coinsurf-signup .right-side .text {
    font-size: 13px;
    padding: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .coinsurf-signup .right-side .text {
    font-size: 14px;
    padding: 0 24px;
  }
}
.coinsurf-signup .signup-mobile {
  text-align: center;
  background-image: linear-gradient(180deg, #284df3 0%, #718bff 100%);
  padding: 40px 0;
  height: calc(100vh - 70px);
}
@media (max-height: 600px) {
  .coinsurf-signup .signup-mobile {
    height: auto;
  }
}
.coinsurf-signup .signup-mobile-content {
  background: rgba(255, 255, 255, 0.76);
  box-shadow: 0px 8px 44px rgba(0, 0, 0, 0.11);
  border-radius: 20px;
  padding: 36px 16px;
  max-width: 350px;
  margin: 0 auto;
}
.coinsurf-signup .signup-mobile-content h2 {
  font-size: 24px;
  line-height: 28px;
  color: #20244f;
}
.coinsurf-signup .signup-mobile-content p.desc {
  font-size: 16px;
  color: #5b5863;
  margin-bottom: 36px;
}
.coinsurf-signup .signup-mobile-content p.text {
  font-size: 16px;
  color: #5b5863;
  margin-top: 36px;
}
.coinsurf-signup .signup-mobile-content p.text a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #4263f6;
}
.coinsurf-signup .signup-mobile .footer-text {
  font-size: 14px;
  color: #ffffff;
  max-width: 350px;
  margin: 32px auto 0;
}/*# sourceMappingURL=signup.css.map */