* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #20244f;
  overflow-x: hidden;
}

body.overlay {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

p {
  color: rgba(32, 36, 79, 0.7);
  line-height: 160%;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 140%;
}

.section {
  padding: 60px 0;
}
@media (min-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}

.section-title {
  font-size: 55px;
  line-height: 140%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .section-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

.section-text {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 767px) {
  .section-text {
    font-weight: normal;
  }
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

.bg-light-blue {
  background: #EFF2FF !important;
}

.main-btn {
  background: #4263f6;
  border-radius: 7.2px;
  color: #fff;
  transition: 0.2s;
  border: 0;
}

.main-btn:hover {
  background: #0b34e9;
}

.main-btn:active {
  background: #8399f9;
}

header.homepage-header {
  background: #4263f6;
  overflow: hidden;
}
@media (min-width: 1800px) {
  header.homepage-header {
    height: 100vh;
  }
}
@media (min-width: 2000px) {
  header.homepage-header {
    height: 1100px;
  }
}

header.header-white {
  border-bottom: 1px solid rgba(66, 99, 246, 0.19);
}
header.header-white button:hover {
  color: #20244f;
}
header.header-white .menu-toggle {
  color: rgba(32, 36, 79, 0.8);
}
header.header-white .nav-link {
  color: #20244f;
  opacity: 0.8;
  transition: 0.2s;
}
header.header-white .nav-link:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  header.header-white {
    height: 70px;
  }
  header.header-white .navbar-nav .signup-link,
header.header-white .navbar-nav .login-link {
    border: 1px solid #1a3bcc;
    color: #1a3bcc;
    opacity: 1;
  }
  header.header-white .navbar-nav .signup-link {
    background-color: #1a3bcc;
    color: #fff !important;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 20px;
}
@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
    margin: 0 0 10px 0;
  }
}

.nav-link {
  color: #fff;
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}
@media (min-width: 1000px) {
  .nav-link:not(.dropdown-toggle)::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 3px;
    background-color: #fff;
    border-radius: 2.5px;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
}

.nav-link:not(.dropdown-toggle):hover::after,
.nav-link:not(.dropdown-toggle).active::after {
  width: 100%;
}

.navbar-expand-lg {
  padding: 17px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  position: relative;
  z-index: 2;
  background: #4263f6;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(119.604px);
            backdrop-filter: blur(119.604px);
  }
}
@media (max-width: 991px) {
  .navbar-expand-lg {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

@media (min-width: 1000px) {
  .nav-item.dropdown {
    padding-left: 20px;
    position: relative;
  }
  .nav-item.dropdown::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 80%;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: #caccdf;
    opacity: 0.33;
  }
}

.dropdown-item {
  color: #120f33;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .dropdown-item {
    font-size: 13px;
  }
}
.dropdown-item span:last-child {
  margin-left: 10px;
  transition: all 0.2s ease;
}
.dropdown-item:hover span:last-child {
  color: #4263f6;
}

span.country-flag {
  width: 21px;
  height: 21px;
  display: inline-block;
  background-image: url("../imgs/homepage/header-flags.png");
}
span.country-flag.bg-fr {
  background-position: -10px -10px;
}
span.country-flag.bg-sp {
  background-position: -51px -10px;
}
span.country-flag.bg-uk {
  background-position: -10px -51px;
}
span.country-flag.bg-gr {
  background-position: -51px -51px;
}

.dropdown:hover .dropdown--menu {
  opacity: 1;
  transform: none;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0s;
  visibility: visible;
}

.dropdown--menu {
  padding: 0.5rem 0;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 110%;
  min-width: 140px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0.2s;
  left: -40px;
  transform: translateY(-5px) scale(0.95);
}
.dropdown--menu::before {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  top: -8px;
  left: 60px;
  content: "";
  position: absolute;
}

.dropdown-menu {
  min-width: 5rem;
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 30px 0 0;
  }
  .navbar-nav .signup-link,
.navbar-nav .login-link {
    opacity: 1;
    text-align: center;
    border-radius: 63px;
    border: 1px solid #fff;
  }
  .navbar-nav .about-us-link {
    border-bottom: 1px solid #6e83ff;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .navbar-nav .signup-link {
    background-color: #fff;
    color: #1a3bcc;
  }
}

.menu-toggle {
  position: relative;
  display: block;
  width: 28px;
  height: 18px;
  background: transparent;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: #d9d9d9;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button:hover {
  color: #fff;
}

button.is-active {
  border-color: transparent;
}

button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 991px) {
  .navbar-collapse {
    order: 3;
  }
}

footer {
  background: linear-gradient(180deg, #120f33 0%, #20244f 100%);
  padding: 100px 0 50px;
  color: white;
  position: relative;
  z-index: 1;
}
footer .footer-title {
  font-weight: 500;
}
@media (max-width: 767px) {
  footer {
    padding: 50px 0;
  }
}
@media (min-width: 1000px) {
  footer:before {
    content: "";
    position: absolute;
    background-image: url(../imgs/homepage/map.png);
    top: 0;
    left: -220px;
    right: 0;
    height: 500px;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
}
footer a,
footer p {
  color: white;
}
footer .btns {
  margin: 50px 0 100px;
}
@media (max-width: 767px) {
  footer .btns {
    margin: 40px 0;
  }
}
footer .btns a {
  background: #ffffff;
  border-radius: 7.21739px;
  padding: 15px 18px;
  display: inline-block;
  font-weight: 500;
  font-size: 18.0435px;
  line-height: 21px;
  color: #20244f;
  text-decoration: none;
  transition: 0.2s;
}
footer .btns a:hover {
  background: #bebcde;
}
@media (max-width: 767px) {
  footer .btns a {
    display: block;
  }
}
footer .btns a:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .btns a:not(:last-child) {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 991px) {
  footer .footer-col {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  footer .footer-col.fourth-col {
    display: flex;
  }
  footer .footer-col.fourth-col .top-col,
footer .footer-col.fourth-col .bottom-col {
    flex: 1;
  }
  footer .footer-col.fourth-col .bottom-col h5 {
    margin-top: 0;
  }
}
footer .footer-col .footer-logo {
  margin-bottom: 45px;
}
footer .footer-col h5 {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}
footer .footer-col h5.second {
  margin-top: 80px;
}
@media (max-width: 767px) {
  footer .footer-col h5.second {
    margin-top: 50px;
  }
}
footer .footer-col a {
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
  transition: 0.2s;
}
@media (min-width: 992px) {
  footer .footer-col a {
    font-weight: 500;
  }
}
footer .footer-col a:hover {
  opacity: 1;
  color: #fff;
}
footer .footer-col .general-info {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  footer .footer-col .general-info {
    margin-bottom: 40px;
  }
}
footer .footer-col .general-info p {
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 992px) {
  footer .footer-col .general-info p {
    font-weight: 500;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  footer .footer-col .general-info p {
    font-size: 14px;
  }
}
footer .footer-col .general-info p:not(:last-of-type) {
  margin-bottom: 14px;
}
footer .footer-col .general-info p span {
  color: rgba(255, 255, 255, 0.503919);
}
footer .footer-col ul li {
  margin-bottom: 15px;
}
footer .footer-col form {
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  footer .footer-col form {
    margin-bottom: 40px;
  }
}
footer .footer-col form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 15px;
}
footer .footer-col form input {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 8px;
  display: block;
  border: 0;
  padding: 11px 16px;
  color: #fff;
}
footer .footer-col form input::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.43);
}
footer .footer-col form input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.43);
}
footer .footer-col form input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.43);
}
footer .copyright {
  margin-top: 50px;
}
footer .copyright p {
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}
@media (min-width: 992px) {
  footer .copyright p {
    font-weight: 500;
  }
}
footer .copyright .social-icons li {
  display: inline-block;
}
footer .copyright .social-icons li a {
  transition: 0.2s;
}
footer .copyright .social-icons li a:hover {
  opacity: 0.7;
}
footer .copyright .social-icons li:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 991px) {
  footer .copyright {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  footer .copyright {
    font-size: 12px;
  }
}

.hero-image {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 100px 0;
}
@media (min-width: 1600px) {
  .hero-image {
    height: calc(100% - 80px);
  }
}
@media (max-width: 767px) {
  .hero-image {
    padding: 130px 0 40px;
  }
}
.hero-image h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 140%;
}
@media (min-width: 1400px) {
  .hero-image h1 {
    font-size: 74px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-image h1 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .hero-image h1 {
    font-size: 30px;
  }
}
.hero-image p {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: white;
}
@media (max-width: 991px) {
  .hero-image p {
    font-size: 16px;
    font-weight: normal;
  }
}
.hero-image .btns {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .hero-image .btns {
    margin-top: 60px;
  }
}
.hero-image .btns a {
  background: #ffffff;
  border-radius: 7px;
  padding: 15px 18px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #20244f;
  text-decoration: none;
  transition: 0.2s;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-image .btns a {
    padding: 10px;
    font-size: 14px;
  }
}
.hero-image .btns a:hover {
  background: #bebcde;
}
@media (max-width: 767px) {
  .hero-image .btns a {
    display: block;
  }
}
.hero-image .btns a:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-image .btns a:not(:last-child) {
    margin-right: 5px;
  }
}
@media (max-width: 767px) {
  .hero-image .btns a:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.hero-image .trustpilot-reviews {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .hero-image .trustpilot-reviews {
    position: static;
    transform: translateX(0);
    margin-top: 40px;
  }
}
.hero-image .trustpilot-reviews a span {
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  margin-right: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-image .trustpilot-reviews a span {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .hero-image .trustpilot-reviews a span {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .hero-image .shapes {
    display: none;
  }
}
.hero-image .shapes .shape1 {
  position: absolute;
  top: -15%;
  right: -22%;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .hero-image .shapes .shape1 {
    transform: scale(0.6);
    transform-origin: right top;
  }
}
.hero-image .shapes .shape2 {
  position: absolute;
  top: 15%;
  left: -14%;
  z-index: -1;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .hero-image .shapes .shape2 {
    transform: scale(0.6);
    transform-origin: left top;
  }
}

.how-it-works .step {
  padding: 40px;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .how-it-works .step {
    padding: 20px;
  }
  .how-it-works .step svg {
    transform: scale(0.6);
    transform-origin: center;
  }
}
.how-it-works .step:not(.last)::after {
  content: "";
  background-image: url(../imgs/homepage/dots-mobile.svg);
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 41px;
  top: 92%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .how-it-works .step:not(.last)::after {
    display: none;
  }
}
@media (min-width: 992px) {
  .how-it-works .step:not(.last)::after {
    background-image: url(../imgs/homepage/dots.svg);
    top: 35%;
    right: -60px;
    width: 90px;
    height: 5px;
    margin: auto;
  }
}

.how-it-works .step p {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .how-it-works .step p {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .how-it-works .step p {
    margin-top: 20px;
    font-weight: 400;
  }
}

.earning-estimation {
  background: #eceffa;
}
.earning-estimation .price {
  font-size: 31px;
  line-height: 36px;
  font-weight: 700;
  margin: 60px 0 20px;
}
@media (max-width: 767px) {
  .earning-estimation .price {
    font-size: 23px;
    margin: 20px 0;
  }
}
.earning-estimation .price span {
  font-size: 60px;
  line-height: 70px;
  color: #4263f6;
}
@media (max-width: 767px) {
  .earning-estimation .price span {
    font-size: 48px;
  }
}
.earning-estimation .traffic h4 {
  font-size: 20px;
  line-height: 23px;
}
@media (max-width: 767px) {
  .earning-estimation .traffic h4 {
    font-size: 14px;
  }
}
.earning-estimation .traffic .traffic-amount {
  background: rgba(32, 36, 79, 0.23);
  border-radius: 6px;
  height: 12px;
}
.earning-estimation .traffic .traffic-amount input {
  width: 100%;
  -webkit-appearance: none;
  background: rgba(32, 36, 79, 0.23);
  background-image: linear-gradient(#4263f6, #4263f6);
  background-size: 34% 100%;
  background-repeat: no-repeat;
  flex: 1;
  border-radius: 6px;
}
.earning-estimation .traffic .traffic-values span {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: rgba(32, 36, 79, 0.5);
}
@media (max-width: 767px) {
  .earning-estimation .traffic .traffic-values span {
    font-size: 12px;
  }
}
.earning-estimation .traffic .traffic-values span.cloud-color {
  color: #4263f6;
}
.earning-estimation .app-btns {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .earning-estimation .app-btns {
    margin-top: 35px;
  }
}
.earning-estimation .app-btns a {
  color: #fff;
  background-color: #4263f6;
  padding: 10px 20px;
  border-radius: 8px;
  display: inline-block;
  transition: 0.2s;
}
.earning-estimation .app-btns a:hover {
  background-color: #1a3bcc;
}
@media (max-width: 767px) {
  .earning-estimation .app-btns a {
    display: block;
  }
}
.earning-estimation .app-btns a:not(:last-of-type) {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .earning-estimation .app-btns a:not(:last-of-type) {
    margin: 0 0 15px 0;
  }
}
.earning-estimation .text {
  margin-top: 50px;
  padding: 0 60px;
}
@media (max-width: 767px) {
  .earning-estimation .text {
    padding: 0;
  }
}
.earning-estimation .text p {
  font-weight: 400;
  font-size: 12px;
  color: rgba(32, 36, 79, 0.65);
  margin-bottom: 5px;
}

.earning-influences .effect .icon {
  position: relative;
}
.earning-influences .effect .icon .signals {
  position: absolute;
  left: -60%;
  top: 40%;
}
.earning-influences .effect .text h4 {
  font-size: 31px;
  line-height: 36px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .earning-influences .effect .text h4 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .earning-influences .effect .text h4 {
    font-size: 20px;
  }
}
.earning-influences .effect .text p {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 767px) {
  .earning-influences .effect .text p {
    font-weight: 400;
  }
}

.get-started {
  background: #eceffa;
}
.get-started .box {
  background: #fff;
  box-shadow: 0px 39px 39px -24px rgba(55, 62, 131, 0.140946);
  border-radius: 17px;
  padding: 50px 25px;
  transition: 0.2s;
}
.get-started .box:hover {
  background: #f9faff;
  box-shadow: 0px 74px 98px -3px rgba(55, 62, 131, 0.140946);
}
.get-started .box .icon {
  height: 82px;
  display: flex;
  align-items: center;
}
.get-started .box h4 {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 35px;
}
.get-started .box p {
  font-weight: 500;
  font-size: 16px;
}
@media (max-width: 767px) {
  .get-started .box p {
    font-weight: 400;
  }
}
.get-started .trustpilot-reviews a {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
}
.get-started .trustpilot-reviews a span {
  font-weight: 400;
  font-size: 24px;
  line-height: 21px;
  color: #000;
  margin-right: 8px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .get-started .trustpilot-reviews a span {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .get-started .trustpilot-reviews a span {
    font-size: 18px;
  }
}

.app-hero {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 50px 0;
}
@media (min-width: 1600px) {
  .app-hero {
    height: calc(100% - 80px);
  }
}
@media (max-width: 991px) {
  .app-hero {
    padding: 130px 0 40px;
  }
}
.app-hero .platforms h5 {
  font-weight: 700;
  font-size: 25px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .app-hero .platforms h5 {
    font-size: 28px;
  }
}
.app-hero .platforms ul {
  background: rgba(32, 36, 79, 0.22);
  border-radius: 34px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .app-hero .platforms ul {
    flex-direction: column;
    margin-bottom: 0;
  }
}
.app-hero .platforms ul li {
  width: 33%;
  padding: 17px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid transparent;
  border-radius: 41px;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .platforms ul li {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .app-hero .platforms ul li {
    width: 100%;
    padding: 12px 0;
  }
  .app-hero .platforms ul li:not(:last-of-type) {
    margin-bottom: 5px;
  }
}
.app-hero .platforms ul li .icon {
  margin-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .platforms ul li .icon {
    margin-right: 10px;
  }
}
.app-hero .platforms ul li .icon svg {
  display: block;
}
.app-hero .platforms ul li .icon svg path {
  transition: 0.3s;
}
.app-hero .platforms ul li.active {
  background: #f2f2f2;
  color: #20244f;
}
.app-hero .platforms ul li.active svg path {
  fill: #20244f;
}
.app-hero .platforms ul li:hover {
  border: 1px solid #fff;
}
.app-hero .platforms ul li.app:active {
  background: rgba(0, 0, 0, 0.05);
}
.app-hero .platforms ul li.disabled {
  opacity: 0.5;
}
.app-hero .platforms ul li.disabled:hover {
  border: transparent;
  cursor: default;
}
.app-hero h1 {
  font-weight: 700;
  font-size: 53px;
  line-height: 140%;
  color: white;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .app-hero h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero h1 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .app-hero h1 {
    font-size: 25px;
  }
}
.app-hero h1 + p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: white;
  margin: 15px 0 36px;
}
@media (max-width: 991px) {
  .app-hero h1 + p {
    font-weight: normal;
  }
}
.app-hero .list {
  margin-bottom: 70px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .app-hero .list {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .list {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .app-hero .list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 40px;
  }
}
.app-hero .list li {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .list li {
    font-size: 14px;
    font-weight: normal;
  }
}
.app-hero .list li:not(:last-of-type) {
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .list li:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
.app-hero .list li p {
  color: white;
}
.app-hero .list li svg {
  margin-right: 15px;
}
.app-hero .apps-download > div:not(:first-child) {
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .app-hero .apps-download .image img {
    width: 180%;
    display: block;
  }
}
@media (max-width: 767px) {
  .app-hero .apps-download .image img {
    max-width: 100%;
    display: block;
  }
}
.app-hero .download-btn a {
  color: #20244f;
  background: #ffffff;
  border-radius: 7.21739px;
  padding: 14px 0;
  font-weight: 500;
}
.app-hero .download-btn p {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  opacity: 0.5;
}
.app-hero .app-devices {
  padding-top: 60px;
}
.app-hero .app-devices ul li {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.app-hero .app-devices ul li p {
  color: white;
  opacity: 0.6;
}
.app-hero .app-devices ul li:not(:last-of-type) {
  margin-right: 20px;
}

.trustpilot-widget {
  padding: 80px 0;
}
@media (max-width: 991px) {
  .trustpilot-widget {
    padding: 50px 0;
  }
}

.faq {
  padding: 60px 0;
  background: #eceffa;
}
.faq .faq-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 140%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .faq .faq-title {
    font-size: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .faq .faq-title {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .faq .faq-title {
    font-size: 24px;
  }
}
.faq .accordion-item {
  background: rgba(255, 255, 255, 0.478424);
  border: 1px solid #d1d5e2;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
}
.faq .accordion-button {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: rgba(32, 36, 79, 0.5);
  padding-top: 24px;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .faq .accordion-button {
    font-size: 14px;
  }
}
.faq .accordion-button:hover {
  color: #20244f;
}
.faq .accordion-button:not(.collapsed) {
  color: #4263f6;
}
.faq .accordion-button:not(.collapsed) .icon svg path {
  fill: #4263f6;
}
.faq .accordion-body {
  font-size: 16px;
  color: rgba(32, 36, 79, 0.7);
  padding: 20px 60px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .faq .accordion-body {
    font-size: 14px;
    padding: 20px 50px;
  }
}/*# sourceMappingURL=style.css.map */