$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$maxTab: "(max-width: 991px)";
$betweentabdesk: "(min-width: 992px) and (max-width: 1200px)";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #20244f;
  overflow-x: hidden;
}

body.overlay {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

body.overlay:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.5);
  z-index: 1;
  margin: 0;
  overflow: hidden;
}

p {
  color: rgba(#20244f, 0.7);
  line-height: 160%;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

// Helper Classes
.section {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 100px 0;
  }
}

.section-title {
  font-size: 55px;
  line-height: 140%;

  @media (min-width: 768px) and (max-width: 1200px) {
    font-size: 40px;
  }
  @media #{$mobile} {
    font-size: 28px;
  }
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  @media #{$mobile} {
    font-weight: normal;
  }
}

// Header
header {
  background: #4263f6;
  overflow: hidden;

  @media (min-width: 1800px) {
    height: 100vh;
  }

  @media (min-width: 2000px) {
    height: 1100px;
  }
}

// Navbar
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 10px;

  @media #{$maxTab} {
    margin: 0 0 10px 0;
  }
}

.nav-link {
  color: #fff;
  opacity: 0.6;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  position: relative;

  @media (min-width: 1000px) {
    &:not(.dropdown-toggle) {
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 3px;
        background-color: #fff;
        border-radius: 2.5px;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }
    }
  }
}

.nav-link:not(.dropdown-toggle):hover,
.nav-link:not(.dropdown-toggle).active {
  &::after {
    width: 100%;
  }
}

.navbar-expand-lg {
  padding: 1.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  position: relative;
  z-index: 2;
  background: #4263f6;
  @media (min-width: 992px) {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(119.604px);
  }
  @media #{$maxTab} {
    position: fixed;
    width: 100%;
    top: 0;
  }
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.nav-item.dropdown {
  @media (min-width: 1000px) {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: #caccdf;
      opacity: 0.33;
    }
  }
}

.dropdown-item {
  color: #120f33;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;

  @media #{$betweentabdesk} {
    font-size: 13px;
  }

  span:last-child {
    margin-left: 10px;
    transition: all 0.2s ease;
  }

  &:hover {
    span:last-child {
      color: #4263f6;
    }
  }
}

span.country-flag {
  width: 21px;
  height: 21px;
  display: inline-block;
  background-image: url("../imgs/homepage/header-flags.png");

  &.bg-fr {
    background-position: -10px -10px;
  }

  &.bg-sp {
    background-position: -51px -10px;
  }

  &.bg-uk {
    background-position: -10px -51px;
  }

  &.bg-gr {
    background-position: -51px -51px;
  }
}

.dropdown {
  &:hover {
    .dropdown--menu {
      opacity: 1;
      transform: none;
      transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0s, -webkit-transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
      visibility: visible;
    }
  }
}

.dropdown--menu {
  padding: 0.5rem 0;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 110%;
  min-width: 140px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
  left: -40px;
  transform: translateY(-5px) scale(0.95);

  &::before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: -8px;
    left: 60px;
    content: "";
    position: absolute;
  }
}

.dropdown-menu {
  min-width: 5rem;
}

.navbar-nav {
  @media #{$maxTab} {
    padding: 30px 0 0;
    .signup-link,
    .login-link {
      opacity: 1;
      text-align: center;
      border-radius: 63px;
      border: 1px solid #fff;
    }
    .about-us-link {
      border-bottom: 1px solid #6e83ff;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }
    .signup-link {
      background-color: #fff;
      color: #1a3bcc;
    }
  }
}

// Menu toggle
.menu-toggle {
  position: relative;
  display: block;
  width: 28px;
  height: 18px;
  background: transparent;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: #d9d9d9;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}
.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button:hover {
  color: #fff;
}

button.is-active {
  border-color: transparent;
}
button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

// Hero Section
.hero-image {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 100px 0;

  @media (min-width: 1600px) {
    height: calc(100% - 80px);
  }

  @media #{$mobile} {
    padding: 130px 0 40px;
  }

  h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 140%;

    @media #{$betweentabdesk} {
      font-size: 40px;
    }

    @media #{$maxTab} {
      font-size: 30px;
    }
  }

  p {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: white;

    @media #{$maxTab} {
      font-size: 16px;
      font-weight: normal;
    }
  }

  .btns {
    margin-top: 40px;

    @media (min-width: 1200px) {
      margin-top: 60px;
    }

    a {
      background: #ffffff;
      border-radius: 7px;
      padding: 15px 18px;
      display: inline-block;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #20244f;
      text-decoration: none;
      transition: 0.2s;

      @media #{$tablet} {
        padding: 10px;
        font-size: 14px;
      }

      &:hover {
        background: #bebcde;
      }

      @media #{$mobile} {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 10px;
        @media #{$tablet} {
          margin-right: 5px;
        }

        @media #{$mobile} {
          margin: 0 0 15px 0;
        }
      }
    }
  }

  .trustpilot-reviews {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);

    @media #{$mobile} {
      position: static;
      transform: translateX(0);
      margin-top: 40px;
    }
  }

  .shapes {
    @media #{$mobile} {
      display: none;
    }

    .shape1 {
      position: absolute;
      top: -15%;
      right: -22%;
      z-index: -1;
      @media (min-width: 768px) and (max-width: 1200px) {
        transform: scale(0.6);
        transform-origin: right top;
      }
    }

    .shape2 {
      position: absolute;
      top: 15%;
      left: -14%;
      z-index: -1;

      @media (min-width: 768px) and (max-width: 1200px) {
        transform: scale(0.6);
        transform-origin: left top;
      }
    }
  }
}

// how-it-works
.how-it-works {
  .step {
    padding: 40px;
    position: relative;

    @media #{$betweentabdesk} {
      padding: 20px;
      svg {
        transform: scale(0.6);
        transform-origin: center;
      }
    }

    &:not(.last) {
      &::after {
        content: "";
        background-image: url(../imgs/homepage/dots-mobile.svg);
        display: inline-block;
        position: absolute;
        width: 5px;
        height: 41px;
        top: 92%;
        @media #{$tablet} {
          display: none;
        }

        @media (min-width: 992px) {
          background-image: url(../imgs/homepage/dots.svg);
          top: 35%;
          right: -60px;
          width: 90px;
          height: 5px;
          margin: auto;
        }
      }
    }
  }
}

.how-it-works .step p {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-top: 50px;
  @media #{$betweentabdesk} {
    margin-top: 10px;
  }

  @media #{$mobile} {
    margin-top: 20px;
    font-weight: 400;
  }
}

// Earning Estimation
.earning-estimation {
  background: #eceffa;

  .price {
    font-size: 31px;
    line-height: 36px;
    font-weight: 700;
    margin: 60px 0 20px;

    @media #{$mobile} {
      font-size: 23px;
      margin: 20px 0;
    }

    span {
      font-size: 60px;
      line-height: 70px;
      color: #4263f6;

      @media #{$mobile} {
        font-size: 48px;
      }
    }
  }

  .traffic {
    h4 {
      font-size: 20px;
      line-height: 23px;

      @media #{$mobile} {
        font-size: 14px;
      }
    }

    .traffic-amount {
      background: rgba(#20244f, 0.23);
      border-radius: 6px;
      height: 12px;

      .progress-bar {
        border-radius: 6px;
      }
    }

    .traffic-values {
      padding: 0 20px;

      @media #{$mobile} {
        padding: 0 10px;
      }

      span {
        display: inline-block;
        padding-right: 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: rgba(#20244f, 0.5);

        @media #{$mobile} {
          padding-right: 10px;
          font-size: 12px;
        }

        &.cloud-color {
          color: #4263f6;
        }
      }
    }
  }

  .app-btns {
    margin-top: 50px;
    @media #{$mobile} {
      margin-top: 35px;
    }

    a {
      color: #fff;
      background-color: #4263f6;
      padding: 10px 20px;
      border-radius: 8px;
      display: inline-block;
      transition: 0.2s;
      &:hover {
        background-color: #1a3bcc;
      }

      @media #{$mobile} {
        display: block;
      }

      &:not(:last-of-type) {
        margin-right: 20px;

        @media #{$mobile} {
          margin: 0 0 15px 0;
        }
      }
    }
  }

  .text {
    margin-top: 50px;
    padding: 0 60px;

    @media #{$mobile} {
      padding: 0;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: rgba(#20244f, 0.65);
      margin-bottom: 5px;
    }
  }
}

// Earning Influences
.earning-influences {
  .effect {
    .icon {
      position: relative;

      .signals {
        position: absolute;
        left: -60%;
        top: 40%;
      }
    }

    .text {
      h4 {
        font-size: 31px;
        line-height: 36px;

        @media #{$tablet} {
          font-size: 26px;
        }
        @media #{$mobile} {
          font-size: 20px;
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        @media #{$mobile} {
          font-weight: 400;
        }
      }
    }
  }
}

// Get Started
.get-started {
  background: #eceffa;

  .box {
    background: #fff;
    box-shadow: 0px 39px 39px -24px rgba(55, 62, 131, 0.140946);
    border-radius: 17px;
    padding: 50px 25px;
    transition: 0.2s;
    &:hover {
      background: #f9faff;
      box-shadow: 0px 74px 98px -3px rgba(55, 62, 131, 0.140946);
    }
    .icon {
      height: 82px;
      display: flex;
      align-items: center;
    }

    h4 {
      font-size: 20px;
      line-height: 23px;
      margin-bottom: 35px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      @media #{$mobile} {
        font-weight: 400;
      }
    }
  }

  .trustpilot-reviews {
    a {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      display: inline-block;
    }
  }
}

// Footer
footer {
  background: linear-gradient(180deg, #120f33 0%, #20244f 100%);
  padding: 100px 0 50px;
  color: white;
  position: relative;
  z-index: 1;

  .footer-title {
    font-weight: 500;
  }

  @media #{$mobile} {
    padding: 50px 0;
  }

  @media (min-width: 1000px) {
    &:before {
      content: "";
      position: absolute;
      background-image: url(../imgs/homepage/map.png);
      top: 0;
      left: -220px;
      right: 0;
      height: 500px;
      background-position: bottom;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  a,
  p {
    color: white;
  }

  .btns {
    margin: 50px 0 100px;
    @media #{$mobile} {
      margin: 40px 0;
    }

    a {
      background: #ffffff;
      border-radius: 7.21739px;
      padding: 15px 18px;
      display: inline-block;
      font-weight: 500;
      font-size: 18.0435px;
      line-height: 21px;
      color: #20244f;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        background: #bebcde;
      }

      @media #{$mobile} {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 10px;

        @media #{$mobile} {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .footer-col {
    @media #{$maxTab} {
      margin-bottom: 50px;
    }
    &.fourth-col {
      @media #{$mobile} {
        display: flex;
        .top-col,
        .bottom-col {
          flex: 1;
        }
        .bottom-col {
          h5 {
            margin-top: 0;
          }
        }
      }
    }

    .footer-logo {
      margin-bottom: 70px;
      display: block;
    }

    h5 {
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 24px;

      &.second {
        margin-top: 80px;

        @media #{$mobile} {
          margin-top: 50px;
        }
      }
    }

    a {
      opacity: 0.6;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      transition: 0.2s;

      &:hover {
        opacity: 1;
        color: #fff;
      }
    }

    .links-list {
      @media (min-width: 1000px) {
        min-height: 345px;
      }
    }

    .general-info {
      margin-bottom: 80px;

      @media #{$mobile} {
        margin-bottom: 40px;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;

        @media #{$betweentabdesk} {
          font-size: 14px;
        }

        &:not(:last-of-type) {
          margin-bottom: 14px;
        }

        span {
          color: rgba(255, 255, 255, 0.503919);
        }
      }
    }

    ul {
      li {
        margin-bottom: 15px;
      }
    }

    form {
      margin-bottom: 80px;

      @media #{$mobile} {
        margin-bottom: 40px;
      }

      label {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 15px;
      }

      input {
        background: rgba(#ffffff, 0.07);
        border-radius: 8px;
        display: block;
        border: 0;
        padding: 11px 16px;
        color: #fff;

        &::placeholder {
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: rgba(#ffffff, 0.43);
        }
      }
    }

    .social-icons {
      li {
        display: inline-block;

        a {
          opacity: 1;
          &:hover {
            opacity: 0.7;
          }
        }

        &:not(:last-child) {
          margin-right: 24px;
        }
      }
    }
  }

  .copyright {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    margin-top: 50px;
    text-align: center;

    @media #{$maxTab} {
      margin-top: 0;
    }
    @media #{$mobile} {
      font-size: 12px;
    }
  }
}

.navbar-collapse {
  @media #{$maxTab} {
    order: 3;
  }
}

// Download Apps Page
.app-hero {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 50px 0;

  @media (min-width: 1600px) {
    height: calc(100% - 80px);
  }

  @media #{$maxTab} {
    padding: 130px 0 40px;
  }
  .platforms {
    h5 {
      font-weight: 700;
      font-size: 25px;
      line-height: 140%;
      color: #ffffff;
      margin-bottom: 20px;

      @media #{$mobile} {
        font-size: 28px;
      }
    }

    ul {
      background: rgba(32, 36, 79, 0.22);
      border-radius: 34px;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 70px;
      @media #{$mobile} {
        flex-direction: column;
        margin-bottom: 0;
      }

      li {
        width: 33%;
        padding: 17px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        border: 1px solid transparent;
        border-radius: 41px;
        font-weight: 500;
        @media #{$tablet} {
          font-size: 14px;
        }
        @media #{$mobile} {
          width: 100%;
          padding: 12px 0;
          &:not(:last-of-type) {
            margin-bottom: 5px;
          }
        }

        .icon {
          margin-right: 15px;
          @media #{$tablet} {
            margin-right: 10px;
          }

          svg {
            display: block;

            path {
              transition: 0.3s;
            }
          }
        }

        &.active {
          background: #f2f2f2;
          color: #20244f;

          svg {
            path {
              fill: #20244f;
            }
          }
        }

        &:hover {
          border: 1px solid #fff;
        }
        &.app:active {
          background: rgba(0, 0, 0, 0.05);
        }

        &.disabled {
          opacity: 0.5;

          &:hover {
            border: transparent;
            cursor: default;
          }
        }
      }
    }
  }

  h1 {
    font-weight: 700;
    font-size: 53px;
    line-height: 140%;
    color: white;
    @media #{$betweentabdesk} {
      font-size: 50px;
    }
    @media #{$tablet} {
      font-size: 35px;
    }
    @media #{$mobile} {
      font-size: 25px;
    }

    & + p {
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      color: white;
      margin: 15px 0 36px;
      @media #{$maxTab} {
        font-weight: normal;
      }
    }
  }

  .list {
    margin-bottom: 70px;
    @media #{$betweentabdesk} {
      margin-bottom: 40px;
    }
    @media #{$tablet} {
      margin-bottom: 30px;
    }
    @media #{$mobile} {
      width: fit-content;
      margin: 0 auto 40px;
    }

    li {
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      @media #{$tablet} {
        font-size: 14px;
        font-weight: normal;
      }

      &:not(:last-of-type) {
        margin-bottom: 20px;
        @media #{$tablet} {
          margin-bottom: 10px;
        }
      }

      p {
        color: white;
      }

      svg {
        margin-right: 15px;
      }
    }
  }

  .apps-download {
    > div:not(:first-child) {
      display: none;
    }
    .image img {
      @media #{$tablet} {
        width: 180%;
        display: block;
      }
      @media #{$mobile} {
        max-width: 100%;
        display: block;
      }
    }
  }

  .download-btn {
    a {
      color: #20244f;
      background: #ffffff;
      border-radius: 7.21739px;
      padding: 14px 0;
      font-weight: 500;
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      color: #ffffff;
      opacity: 0.5;
    }
  }

  .app-devices {
    padding-top: 60px;

    ul {
      li {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        p {
          color: white;
          opacity: 0.6;
        }

        &:not(:last-of-type) {
          margin-right: 20px;
        }
      }
    }
  }
}

// Trustpilot Widget
.trustpilot-widget {
  padding: 80px 0;
  @media #{$maxTab} {
    padding: 50px 0;
  }
}

.faq {
  padding: 60px 0;
  background: #eceffa;

  .faq-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 140%;
    @media #{$betweentabdesk} {
      font-size: 40px;
    }
    @media #{$tablet} {
      font-size: 32px;
    }
    @media #{$mobile} {
      font-size: 24px;
    }
  }

  .accordion-item {
    background: rgba(255, 255, 255, 0.478424);
    border: 1px solid #d1d5e2;
    border-radius: 8px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  .accordion-button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: rgba(#20244f, 0.5);
    padding-top: 24px;
    padding-bottom: 24px;
    @media #{$mobile} {
      font-size: 14px;
    }
    &:hover {
      color: #20244f;
    }
  }

  .accordion-button:not(.collapsed) {
    color: #4263f6;

    .icon svg path {
      fill: #4263f6;
    }
  }

  .accordion-body {
    font-size: 16px;
    color: rgba(#20244f, 0.7);
    padding: 20px 60px;
    background-color: #fff;

    @media #{$mobile} {
      font-size: 14px;
      padding: 20px 50px;
    }
  }
}

// About Us page
.about-us-hero {
  padding: 110px 0;
  position: relative;
  z-index: 1;
  @media #{$betweentabdesk} {
    padding: 60px 0;
  }
  @media #{$maxTab} {
    padding: 110px 0 50px;
  }

  h1 {
    font-weight: 700;
    font-size: 58px;
    line-height: 140%;
    color: #fff;
    @media #{$tablet} {
      font-size: 45px;
    }
    @media #{$mobile} {
      font-size: 28px;
    }

    & + p {
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      color: #fff;
      @media #{$maxTab} {
        font-weight: normal;
      }
    }
  }

  .features {
    margin-top: 130px;

    @media #{$betweentabdesk} {
      margin-top: 70px;
    }
    @media #{$tablet} {
      margin-top: 50px;
    }
    @media #{$mobile} {
      margin-top: 30px;
    }

    .feat {
      background: #5573f6;
      box-shadow: 0px 39px 45px -12px rgba(26, 32, 88, 0.153278), inset 0px 1px 1px rgba(255, 255, 255, 0.44485);
      border-radius: 17px;
      padding: 30px 24px;
      transition: 0.2s;
      @media #{$betweentabdesk} {
        padding: 24px 18px;
      }
      @media #{$mobile} {
        padding: 20px;
      }
      &:hover {
        background: #728cff;
        box-shadow: 0px 39px 86px rgba(26, 32, 88, 0.34), inset 0px 1px 1px rgba(255, 255, 255, 0.44485);
        p {
          opacity: 0.8;
        }
      }

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        color: #fff;
        margin: 35px 0;
        @media #{$betweentabdesk} {
          margin: 25px 0;
          font-size: 16px;
        }
        @media #{$mobile} {
          margin: 15px 0;
        }
      }

      p {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
        opacity: 0.5;
        @media #{$betweentabdesk} {
          font-weight: normal;
        }
        @media #{$mobile} {
          font-weight: normal;
          font-size: 14px;
        }
      }
    }
  }

  .shape {
    position: absolute;
    top: -20%;
    right: -25%;
    z-index: -1;

    @media #{$tablet} {
      right: -75%;
    }

    @media #{$mobile} {
      top: -10%;
      right: -145%;
      transform: scale(0.8);
      transform-origin: center;
    }
  }
}

.our-story {
  padding: 60px 0;
  position: relative;
  z-index: 1;
  overflow: hidden;

  .text {
    h2 {
      font-size: 78px;
      line-height: 140%;
      color: #000000;
      margin-bottom: 40px;
      @media #{$betweentabdesk} {
        font-size: 50px;
        margin-bottom: 30px;
      }
      @media #{$tablet} {
        margin-bottom: 30px;
        font-size: 40px;
      }
      @media #{$mobile} {
        font-size: 34px;
        margin-bottom: 24px;
      }
    }

    p {
      font-weight: 500;
      font-size: 14px;
      color: #000000;
      @media #{$mobile} {
        font-weight: normal;
      }

      &:not(:last-of-type) {
        margin-bottom: 30px;
        @media #{$betweentabdesk} {
          margin-bottom: 20px;
        }
      }
    }
  }

  .socials {
    margin-top: 70px;
    padding-top: 40px;
    border-top: 1px solid #d3d3d3;

    @media #{$maxTab} {
      margin-top: 30px;
      padding-top: 30px;
    }

    h3 {
      font-size: 54px;
      line-height: 140%;
      color: #20244f;
      margin-bottom: 40px;
      @media #{$tablet} {
        font-size: 40px;
        margin-bottom: 30px;
      }
      @media #{$mobile} {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    ul {
      li {
        &:not(:last-of-type) {
          margin-right: 25px;
          @media #{$maxTab} {
            margin-right: 5px;
          }
        }
        @media (max-width: 1200px) {
          margin: 0 5px 10px;
        }

        a {
          border-radius: 5px;
          padding: 12px 20px;
          font-weight: 700;
          font-size: 12px;
          line-height: 14px;
          color: #ffffff;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          @media #{$mobile} {
            font-weight: 500;
            padding: 10px;
          }

          svg {
            margin-right: 8px;
            @media #{$mobile} {
              margin-right: 5px;
            }
          }

          &.twitter {
            background: #4a98e9;
          }

          &.discord {
            background: #5b65e9;
          }

          &.facebook {
            background: #3975eb;
          }

          &.linkedin {
            background: #171717;
          }

          &.youtube {
            background: #e43e24;
          }
        }
      }
    }
  }

  .shape1,
  .shape2 {
    position: absolute;
    z-index: -1;
    @media #{$mobile} {
      display: none;
    }
  }

  .shape1 {
    left: -20%;
    top: 15%;
    @media #{$betweentabdesk} {
      left: -30%;
      top: 5%;
    }
    @media #{$tablet} {
      left: -40%;
      top: 35%;
    }
  }

  .shape2 {
    bottom: -30%;
    right: -19%;
    @media #{$betweentabdesk} {
      bottom: -20%;
      right: -40%;
    }
    @media #{$tablet} {
      display: none;
    }
  }
}
