// Header
header.homepage-header {
  background: #4263f6;
  overflow: hidden;

  @media (min-width: 1800px) {
    height: 100vh;
  }

  @media (min-width: 2000px) {
    height: 1100px;
  }
}

header.aboutus-header {
  height: auto;
}

header.header-white {
  .navbar {
    border-bottom: 1px solid rgba(#4263f6, 0.19);
  }
  button:hover {
    color: #20244f;
  }
  .menu-toggle {
    color: rgba(#20244f, 0.8);
  }
  .nav-link {
    color: #20244f;
    opacity: .8;
    transition: .2s;
    &:hover {
      opacity: 1;
    }
  }
  @media #{$maxTab} {
    height: 65px;
    .navbar-nav .signup-link,
    .navbar-nav .login-link {
      border: 1px solid #1a3bcc;
      color: #1a3bcc;
      opacity: 1;
    }
    .navbar-nav .signup-link {
      background-color: #1a3bcc;
      color: #fff !important;
    }
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .show > .nav-link,
  .nav-link:focus,
  .nav-link:hover {
    color: #4263f6;
  }

  .nav-link:not(.dropdown-toggle)::after {
    background-color: #4263f6;
  }
}

// Navbar
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link,
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  opacity: 1;
}

.navbar-expand-lg .navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 20px;

  @media #{$maxTab} {
    margin: 0 0 10px 0;
  }
}

.nav-link {
  color: #fff;
  opacity: 0.6;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  position: relative;

  @media (min-width: 1000px) {
    &:not(.dropdown-toggle) {
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 3px;
        background-color: #fff;
        border-radius: 2.5px;
        left: 0;
        bottom: 0;
        transition: 0.3s;
      }
    }
  }
}

.nav-link:not(.dropdown-toggle):hover,
.nav-link:not(.dropdown-toggle).active {
  &::after {
    width: 100%;
  }
}

.navbar-expand-lg {
  padding: 17px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  position: relative;
  z-index: 2;
  background: #4263f6;

  @media (min-width: 992px) {
    padding: 15px 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(119.604px);
  }

  @media #{$maxTab} {
    position: fixed;
    width: 100%;
    top: 0;
  }
}
header.header-blue {
  .navbar-expand-lg {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    position: relative;
    z-index: 2;
    background: #4263f6;
  }
}

button:focus:not(:focus-visible) {
  box-shadow: none;
}

.nav-item.dropdown {
  @media (min-width: 1000px) {
    padding-left: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 80%;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: #caccdf;
      opacity: 0.33;
    }
  }
}

.dropdown-item {
  color: #120f33;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  font-weight: 500;

  @media #{$betweentabdesk} {
    font-size: 13px;
  }

  span:last-child {
    margin-left: 10px;
    transition: all 0.2s ease;
  }

  &:hover {
    span:last-child {
      color: #4263f6;
    }
  }
}

span.country-flag {
  width: 21px;
  height: 21px;
  display: inline-block;
  background-image: url("../imgs/homepage/header-flags.png");

  &.bg-fr {
    background-position: -10px -10px;
  }

  &.bg-sp {
    background-position: -51px -10px;
  }

  &.bg-uk {
    background-position: -10px -51px;
  }

  &.bg-gr {
    background-position: -51px -51px;
  }
}

.dropdown {
  &:hover {
    .dropdown--menu {
      opacity: 1;
      transform: none;
      transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0s, -webkit-transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
      visibility: visible;
    }
  }
}

.dropdown--menu {
  padding: 0.5rem 0;
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  top: 110%;
  min-width: 140px;
  position: absolute;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1), visibility 0s linear 0.2s, -webkit-transform 0.2s cubic-bezier(0.6, 0.2, 0.1, 1);
  left: -40px;
  transform: translateY(-5px) scale(0.95);

  &::before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: -8px;
    left: 60px;
    content: "";
    position: absolute;
  }
}

.dropdown-menu {
  min-width: 5rem;
}

.navbar-nav {
  @media #{$maxTab} {
    padding: 30px 0 0;

    .signup-link,
    .login-link {
      opacity: 1;
      text-align: center;
      border-radius: 63px;
      border: 1px solid #fff;
    }

    .about-us-link {
      border-bottom: 1px solid #6e83ff;
      padding-bottom: 20px;
      margin-bottom: 10px;
    }

    .signup-link {
      background-color: #fff;
      color: #1a3bcc;
    }
  }
}

// Menu toggle
.menu-toggle {
  position: relative;
  display: block;
  width: 28px;
  height: 18px;
  background: transparent;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: #d9d9d9;
  font-size: 0;
  transition: all 0.25s ease-in-out;
}

.menu-toggle:before,
.menu-toggle:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-in-out;
}

button.is-active {
  border-color: transparent;
}

button.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

button.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-collapse {
  @media #{$maxTab} {
    order: 3;
  }
}
